<div class="row">
  <div class="sort">
    <%= form_with(url: root_path(@ward), method: :get) do |f| %>
      <%= f.select :order, ["","Rent High to Low", "Rent Low to High"] %>
      <%= f.submit "Sort" %>
    <% end %>
  </div>
</div>
