<div class="home-container">
  <div id="container" data-controller="map" data-map-areas-value="<%= @areas.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <div class="landing-banner">
      <div class="sort">
        <h2>Sorting</h2>
        <div class="rent-buttons">
          <button id="one_ldk" class="rent-button" data-action="click->map#selectedSort">1LDK</button>
          <button id="two_ldk" class="rent-button" data-action="click->map#selectedSort">2LDK</button>
          <button id="three_ldk" class="rent-button" data-action="click->map#selectedSort">3LDK</button>
        </div>
        <div class="other-buttons">
          <button class="other-button" id="safety" data-action="click->map#selectedSort">Safety</button>
        </div>
      </div>
      <div class="banner-content">
        <h1 id="banner-title">Tokyo Maps</h1>
        <button id="fly-to-tokyo" data-action="click->map#flyTokyo">Explore</button>
      </div>
      <div class="map-banner" data-map-target="globus"></div>
    </div>
    <div class="landing-info">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error possimus molestias necessitatibus reiciendis deleniti praesentium accusantium, beatae voluptas nihil distinctio velit ipsum voluptate excepturi doloribus provident. Rerum voluptatum voluptates nemo.</p>
    </div>
  </div>
</div>
