<div id="container" data-controller="map" data-map-areas-value="<%= @areas.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <button id="fly-to-tokyo" data-action="click->map#flyTokyo">Fly to Tokyo</button>
  <button id="reset-view"data-action="click->map#reset">Reset</button>
  <form data-action="change->map#sort">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Sort</label>
      <select class="form-control" id="exampleFormControlSelect1" data-map-target="sortKey" fill-extrusion-input = "" >
        <option></option>
        <option id="one_ldk_sort_height">1LDK</option>
        <option id="two_ldk_sort_height">2LDK</option>
        <option id="three_ldk_sort_height">3LDK</option>
        <option>Safety</option>
      </select>
    </div>
  </form>
  <div id="map" data-map-target="globus"></div>
</div>
