<p><%= @areas.first.ward_code %></p>
<div id="container" data-controller="map" data-map-areas-value="<%= @areas.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <button id="fly-to-tokyo" data-action="click->map#flyTokyo">Fly to Tokyo</button>
  <button id="reset-view"data-action="click->map#reset">Reset</button>
  <form action="">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Example select</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option></option>
        <option>Rent Low to High</option>
        <option>Rent High to Low</option>
        <option>?</option>
        <option>?</option>
      </select>
    </div>
  </form>
  <div id="map" data-map-target="globus"></div>
</div>
