.show-container {
  position: relative;
}

.banner-title {
  margin: 0;
}

.ward-info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

}

.menu-container {
  position: sticky;
  top: 50px;
  left: -30px;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 50px;
  font-size: 1.5rem;
}
.menu-container img {
  width: 100px;
  height: auto;
  position: -40px;
}

.info-container {
  width: 80%;
  margin: 5vh 1vw;
  display: flex;
  flex-direction: column;
}
.info-container > div:first-child {
  margin-bottom: 5vh;
}
.info-container > div:not(:first-child) {
  margin: 5vh 0;
}
.info-container > div {
  background-color: rgb(199, 199, 233);
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  padding: 3rem;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview-container {
}

.reviews {
  width: 100%;
  height: auto;
}
.review-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60vh;
  justify-content: space-around;
}

.selection-container {
  padding: 20px;
}

.population-card {
}

.sights-container {
}

.safety-chart {
}


.rentals {
}

.schools {
}

.row {
  margin: 0;
}
