.show-container {
  position: relative;
}
.ward-info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #e6e6e6;;
}
.menu-container {
  position: sticky;
  top: 16px;
  left: -16px;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.info-container {
  width: auto;
  margin-left: 15vw;
}
