.show-container {
  position: relative;
}
.ward-info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.menu-container {
  position: sticky;
  top: 50px;
  left: -30px;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 50px;
}

.info-container {
  width: auto;
  margin-left: 15vw;
}

.content {
  width: 550px;
  background-color: white;
}
