.card {
  &.points {
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    height: 400px;
  }
}

.card-img-top {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 300px;
}

.card.review {
  padding: 32px;
  width: 100%;
  border: none;
  img {
    width: 200px;
    margin: 0 auto;
  }
}
.card-review {
  padding: 32px;
  width: 100%;
  border: none;
}

.card.air-quality {
  padding: 32px;
  width: 400px;

  .card-title {
    font-size: 1.5rem;
  }

  height: 600px;

  img {
    width: 300px;
  }
}

.aqi {
  padding: 32px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: lightgray;
  color: black;
  font-size: 32px;
}

.description {
  padding: 32px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: lightgray;
  color: black;
  font-size: 32px
}

.card.weather {
  padding: 32px;
  width: 400px;

  .card-title {
    font-size: 1.5rem;
  }

  height: 600px;
}

.weather {
  img {
    width: 300px;
  }
}
