.house-card{
  display: flex;
}

.house-img{
  width: 50%;
}

.house-detail{
  width: 50%;
}

.rent-card{
  display: flex;
  height: 224px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  justify-content: center;
  align-items: center;
}

.rent-img{
  max-height: 200px;
  width: auto;
  display: block;
  margin: auto;

}

.rent-img-wrapper{
 width: 50%;
 text-align: center;
 margin-left: 16px;
 background-color: rgb(211, 207, 207);
}

.rent-detail{
 width: 50%;
 padding: 0 16px;
 text-decoration: none;
}

.rent-detail p{
  font-size: 12px;
}
