.navbar-lewagon {
  justify-content: space-between;
  background: #000000;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: #61A866;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar ,.nav-link{
  color: white;
  font-family: 'Inter', sans-serif;;
}

.navbar-custom{
  margin-bottom: 0 ;
}

a.nav-link{
  color: white;
}

.navbar-img {
  border-radius: 50%;
}

.navbar-nav.nav-link:hover{
  color: red;
}

.menu-container {
  img {
    width: 200px;
  }
  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: #61A866;
  }
}

.nav-item {
  &.dropdown {
    margin-left: 20px;
    color:black;
  }
}

.dropdown-item {
  color: black !important;
}
