.school-card-container {
  display: flex;
}

.school-card {
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  margin: 1rem 3rem;
  background-color: white;
  border-radius: 5px;
}

.school-card p {
  margin: 0;
  padding: 0;
}

.school-title {
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.school-title h3 {
  margin: 0;
}

.school-body {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // justify-content: space-around;
  padding: 20px 20px;

}

.school-body p {
  padding: 1rem 0.5rem;
}

.school-body-content {
  height: auto;
}

.school-body-content>div {
  height: auto;
  font-size: 1.2rem;
  display: flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
}
