<div class="ward-map">
<div class="img-wrapper"></div>
<section>
 <h2> The map will change into smalll when scrolling</h2>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis ex sed pulvinar rutrum. Ut commodo porta tincidunt. Vestibulum condimentum sodales nunc, laoreet eleifend neque consequat ut. Aliquam eget lectus at tellus suscipit vestibulum nec ut justo. Phasellus porttitor nisl id maximus sodales. Fusce et ex felis. Phasellus sit amet maximus risus. Aliquam pulvinar sapien sed sem auctor, ac semper augue iaculis. Vivamus sodales, justo dapibus aliquet egestas, est est dignissim augue, vel commodo tortor nunc id quam. Nullam faucibus hendrerit malesuada.

Vivamus aliquam ante congue pharetra imperdiet. Nulla eget lacus in mi posuere venenatis. Curabitur imperdiet vehicula nunc, eu tempus nulla. Mauris lacinia turpis in neque cursus, in finibus neque tristique. Aliquam porta ante nec sem lacinia, vel facilisis libero feugiat. Cras volutpat sapien consequat, fringilla ante at, elementum turpis. Mauris in finibus nisl. Pellentesque quis lorem suscipit quam ultricies vestibulum. Curabitur nec massa pellentesque dolor finibus eleifend. Praesent in condimentum leo.</p>
</section>
</div>
